<!-- Sidebar -->

<div class="col-md-3">
    <div id="sidebar-wrapper">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li><a routerLink="welcome" id="heading" routerLinkActive="active">Welcome to BRET Reports </a></li>  
                <li> <br>
                <ul class="list-group" id="keyword1" role="menu">
                <li><a routerLink="report/APDailyStatus" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;AP Daily Status</a></li><br>
                <li><a routerLink="report/EMEADailyStatus" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;EMEA Daily Status</a></li><br>
                <li><a routerLink="report/GCGDailyStatus" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;GCG Daily Status</a></li><br>    
                <li><a routerLink="report/LADailyStatus" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;LA Daily Status</a></li><br>               
                <li><a routerLink="report/ExecutiveStatus" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;Executive Status</a></li><br>                
                <li><a routerLink="report/ReturnReject" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;Return / Reject</a></li><br>
                <li><a routerLink="report/PostShipEligible" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;Post Ship Eligible</a></li><br>
                <li><a routerLink="report/PostShipmentSelected" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;Post Shipment Selected</a></li><br>
                <li><a routerLink="report/Adhoc" routerLinkActive="active" (click)="setEmptySearchStr()">&nbsp;&nbsp;<i class="fas fa-angle-double-right"></i>&nbsp;Adhoc Report</a></li>
            </ul> 
            </li> 
            </ul>
        </nav>
    </div>
    </div>